<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href=<%= @estilo %>>
	<title>
		<%= @titulo %>
	</title>
</head>
<body>
 	<section class="imagen">
 		<img src="./ruby.jpg" height="220" width="220">
 	</section>
 	<h1 class="saludo" >	
 		<%= @texto %>
 	</h1>	
</body>
</html>